.body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    // background-color: red;
}
.cardHolder{
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
    // background-color: red;
}
.card{
    width: 90%;
    height: 50px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 4px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.3px;
    // background-color: red;
}

.userName{
    color: red;
}
